.page-footer {
  padding: 96px 0;
}

.footer-media-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.footer-container {
  display: block;
}
.footer-main {
  display: block;
  margin-right: 120px;
}
.footer-media {
}
.footer-icon-list {
  display: flex;
  gap: 16px;
}
.footer-icon-item {
  flex-basis: calc((100% - 48px) / 4);
}

.footer-icon-active {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-active:hover,
.footer-icon-active:focus {
  background-color: #31d0aa;
}

.subscribe-p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-form {
  display: block;
  width: 100%;
}
.subscripe-input {
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscripe-input::placeholder {
  color: #ffffff;
}
.footer-button-subs {
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button-subs:hover,
.footer-button-subs:focus {
  background-color: #404bbf;
}
.subsripe-img {
  margin-left: 16px;
  fill: #ffffff;
}
@media screen and (max-width: 767.98px) {
  .footer-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-media {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
}
@media screen and (max-width: 767.98px) {
  .subscripe-input {
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-button-subs {
    margin: auto;
    margin-top: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer-main {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-form-label {
    margin-right: 24px;
  }
  .footer-form {
    display: flex;
  }
  .footer-container {
    max-width: 584px;
  }
}
@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-media {
    margin-right: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .subscripe-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .subscripe-input {
    width: 264px;
  }
}
