.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
}
@media screen and(min-width:768px) and (max-width: 1157.98px) {
  .page-header-container {
    gap: 120px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .page-header-container {
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(231, 233, 252, 1);
  }
}
.page-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
}
.logo {
  color: #2e2f42;
  display: flex;
}
.footer-logo {
  color: #f4f4fd;
}
.last-title {
  color: #f4f4fd;
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-info {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.navigation-list {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .header-adress-item:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .navigation-list {
    display: flex;
    gap: 40px;
    margin-left: 76px;
  }
}

.navigation-list li:first-child {
  position: relative;
}
.navigation-list li:first-child a {
  color: #404bbf;
  position: relative;
}
.navigation-list li:first-child a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.navigation-list li a {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list li a:hover {
  color: #404bbf;
}

.navigation-list li a:active {
  color: #404bbf;
}

.info-list {
  font-weight: 400;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  display: flex;
  margin-left: auto;
}
.adress-list {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .adress-list {
    list-style-type: none;
    display: block;
    flex-direction: column;
    font-size: 12px;
  }
}
@media screen and (max-width: 767.98px) {
  .page-header-container {
    height: 70px;
  }
}

@media screen and (min-width: 1158px) {
  .adress-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
  }
}
@media screen and (min-width: 1158px) {
  .navigation-list li a {
    display: block;
  }
}

.adress-list li a {
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list li a:hover {
  color: #404bbf;
}
.adress-list li a:active {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.open-mobile-menu-btn {
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
}
/* mobile-menu */
.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 40px;
  padding-top: 80px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #2e2f42;
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  outline: none;
}
.mobile-menu-list {
  padding: 0;
  list-style: none;
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-size: 36px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link.style {
  color: #404bbf;
  text-decoration: none;
}
.mobile-adress-menu {
  margin-bottom: 48px;
}
.mobile-adress-item {
  margin-bottom: 40px;
}
.mobile-adress-phone {
  color: #4d5ae5;
  font-size: 20px;
  font-weight: 500px;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-style: normal;
}
.mobile-adress-email {
  color: #434455;
  font-size: 20px;
  font-weight: 500px;
  line-height: 1;
  letter-spacing: 0.04em;
  font-style: normal;
}
.mobile-icon-list {
  display: flex;
  gap: 40px;
}
@media screen and (min-width: 320px) and (max-width: 1157.98px) {
  .page-header-container {
    border-bottom: none;
  }
}
@media screen and (max-width: 767.98px) {
  .page-header-container {
    height: 70px;
  }
}
