.portfolio-main {
  padding: 96px 0;
}

.portfolio-list {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.portfolio-title {
  display: block;
}
.portfolio-img {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.app-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  margin-bottom: 8px;
}
.back-header-logo {
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  display: inline-block;
}
.bestsellers-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img:hover .overlay,
.portfolio-img:focus .overlay {
  transform: translateY(0%);
}
@media screen and (max-width: 767.98px) {
  .portfolio-img:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .bestsellers-img-wrapper {
    max-width: 356px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-title {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 72px;
  }
  .portfolio-img {
    flex-basis: calc((100%-24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-main {
    padding: 120px 0;
  }
  .portfolio-img {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-title {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
}
